<div class="container">
    <div class="jumbotron">
    </div>
    <h1 class="display-3">TEEN@home</h1>

    <div class="row marketing">
        <div class="col-lg-12">
            <h4><strong>PARENTS vs. CHILDRENS</strong></h4>
            <p>It’s not easy being a teenager in today’s world. From depression to bullying and cutting, teens grapple with a wide range of issues as they grow and develop. But here’s the good news: you’re not alone and you can feel better.<br> Learn more
                about the signs and symptoms of some common teen challenges, what you can do to help yourself, and how to reach out and talk about tough subjects with your friends and family members.
            </p>
            <p>Тeens are knowledgeable, smart, and confident. They have little challenge to make the right choice when these topics are presented. However, it is important to recognize that these issues are possibly effecting the families and friends with
                which spends time.
            </p>
            <p>Parenting has often been described as a full-time job. Moms and dads have to organize children’s schedules, find kid-friendly places to eat, and remember all the things that their family needs from the grocery store this week. Fortunately,
                there is <strong>TEEN@home</strong> app that can help busy parents to keep track of everything. We are here to help parents with all parenting challenges from those everyday situations to the most serious issue of child abuse.
            </p>
            <h4><strong>TEEN AT HOME</strong></h4>
            <p>This application is specially developed for Parents and Children. The main idea is to help both groups to have better communication, easier life, and positive emotions. If you are busy Parent and don't have enough time for your children. If
                you have the full-time job and cannot stay at home to organize children’s schedules, to study whit them and do all homework, to remember all the things in schedules as sport, lessons etc. If you have a lazy teen at home, who doesn't want
                to help with the domestic work, want to do their homework and Learn new things! If you are TEEN and don't have enough money for school.. and many more reasons. Here is the simple solve of everything! <br>
                <br><strong>TEEN@home</strong> is here! <br><br> This APP is amazing! Its provide opportunity to make daily/week Task list for your child. With everything needed for school lessons, homework, training, sport and domestic tasks. You can
                add tasks and wish improvement for their solving like - picture, video etc. TEEN AT HOME provide you best opportunity to control your Children when you aren't at home and to manage successful their daily/weekly schedules. For every solved
                task, the teens receive points. They collect their points in the wallet because every point is 1 $/Euro. This mean that you can control the money as well. If some child solves all necessary tasks for the day, it can receive daily cash
                for tomorrow or for next week, depends on the Task list type (daily / weekly). <br> TEEN AT HOME is perfect HELPER for Parents and successful motive for better Children.
                <br> If you are the parent of trouble TEEN you can find <a routerLink="/parent-helper">help</a> in our app! You are not alone, every child grow up! <br>If you are TEEN who need more money for a week, you can find <a href="/teen-jobs">help</a>                in our the app as well!
            </p>
            <h4 class="helpguide"><a routerLink="/how-to-use"><strong>TUTTORIAL HOW TO USE THE APP</strong></a></h4>
            <p>In this page you can find video tuttorial about how to use succesful our application.</p>
            <h4 class="important"><strong>What you can find here</strong></h4>
            <div class="box important-box">
                <ol>
                    <li>Are you a teenager looking for a job? Or perhaps a parent who is helping your kid to get their first job? You can find jobs for teens</li>
                    <li>You can find help if you are parent of trouble TEEN!</li>
                    <li>Can find help for busy Parents.</li>
                    <li>Can add daily / weekly tasks for your child.</li>
                    <li>Can have full control of your child and manage successful child's schedules.</li>
                    <li>Motivate you Children to study and help with house work as well.</li>
                    <li>Have full control of the weekly money.</li>
                    <li>All childrens can receive more money when they do bonus tasks.</li>
                </ol>
            </div>
        </div>

        <div class="col-lg-6">
            <h4 class="link"><a href="http://www.hireteen.com/"><strong>Hire Teen</strong></a></h4>
            <p>Job application should be processed in the website of the company you are applying for or you need to follow the guideline which is provided on each company review.</p>
            <h4 class="link"><a href="http://www.snagajob.com/job-search/q-teen"><strong>Snaga job</strong></a></h4>
            <p>Get solutions across the entire hiring process—more applications, qualified hires, easier scheduling and more.</p>
            <h4 class="link"><a href="http://www.dreamhomebasedwork.com/online-jobs-for-teens/"><strong>Dream home based work</strong></a></h4>
            <p>Most people who have a regular job during the day, end up taking jobs that they can do in the evening or the night. You can actually spend your time in a more constructive way and make some money while at it.</p>
            <h4 class="drug-abuse"><strong>Popular part-time jobs and small business opportunities:</strong></h4>
            <div class="box important-box">
                <ul>
                    <li><strong>Animal Shelter Worker</strong></li>
                    <li><strong>Arts and Crafts Production and Sales</strong></li>
                    <li><strong>Babysitting</strong></li>
                    <li><strong>Car Wash Attendant</strong></li>
                    <li><strong>Document and Photograph Archival Services</strong></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <h4 class="link"><a href="http://www.parenthelp.org.nz/"><strong>Parent Help</strong></a></h4>
            <p>At Parent Help we offer the only designated free national parenting helpline in New Zealand that is available seven days a week. We are here to help parents. of child abuse.</p>
            <h4 class="link"><a href="http://busyparentsnetwork.com/"><strong>Busy Parents Network</strong></a></h4>
            <p>Busy Parents Network is a community social enterprise set up with the specific intention of bringing families together in the local community for fun and more.</p>
            <h4 class="link"><a href="http://www.teendrugrehabs.com/"><strong>Teen drug rehabs</strong></a></h4>
            <p>Drug abuse and addiction that starts in the teenage years can lead to lifelong abuse and addiction if the problem isn’t addressed early on. Parents need to know what to look for and how to get help.</p>
            <h4 class="drug-abuse"><strong>You Need to Know About Teenage Drug Abuse:</strong></h4>
            <div class="box important-box">
                <ul>
                    <li><strong>Family History.</strong></li>
                    <li><strong>Relationships.</strong></li>
                    <li><strong>Mental Health.</strong></li>
                    <li><strong>Personal Development.</strong></li>
                    <li><strong>Availability.</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br><br>
<br><br>