h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

input,
select {
    width: 85%;
}

form {
    margin-bottom: 135px;
    margin-top: 5%;
}

.container {
    margin-top: 50px
}