<div class="col-lg-12 background">
    <div>
        <img class="header-banner" src="./../../../../Resources/cosmos_background_logo.PNG" alt="Image">
        <div class="carousel-caption">
            <p>TEEN@home</p>
        </div>
    </div>
</div>
<div class="container text-center">
    <h3>What We Do</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <img src="./../../../../Resources/lazy-teen.jpg" class="img-responsive" style="width:100%" alt="Image">
            <p><strong>LAZY TEENS</strong></p>
        </div>
        <div class="col-sm-4">
            <img src="./../../../../Resources/busy-parent.jpg" class="img-responsive" style="width:100%" alt="Image">
            <p><strong>BUSY PARENTS</strong></p>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <p><strong>TEEN PROBLEMS</strong> <br> It’s not easy being a teenager in today’s world. From depression to bullying and cutting, teens grapple with a wide range of issues as they grow and develop. But here’s the good news: you’re not alone
                    and you can feel better.
                </p>
            </div>
            <div class="well">
                <p><strong>PARENT HELPER</strong> <br> Parenting has often been described as a full-time job. Moms and dads have to organize children’s schedules, find kid-friendly places to eat, and remember all the things that their family needs from the
                    grocery store this week.
                </p>
            </div>
        </div>
    </div>
</div><br><br>